:root {
  /* font-family: Inter, system-ui, Avenir, ; */
  line-height: 1.5;
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

#root {
  font-family: "Fjalla One", "Helvetica Neue", "SANS-SERIF";

  height: 100%;
}